@inherits LayoutComponentBase

@using EFCAT.Service.Authentication
@using Model.Entity
@using MudBlazor
@using Services
@inject AuthenticationStateProvider AuthProvider

<PageTitle>Auctions</PageTitle>

<CascadingValue Value="Account" IsFixed=false>
    <NavMenu />

    <main class="my-2">
        <MudThemeProvider />
        <MudDialogProvider />
        <MudSnackbarProvider />
        @Body
    </main>

    <FooterMenu />
</CascadingValue>

@code {
    public IAuthenticationService<User> Auth { get; private set; }
    public User Account { get; private set; }

    protected async override Task OnAfterRenderAsync(bool firstRender) {
        Auth = ((IAuthenticationService<User>)AuthProvider);
        Account = Auth.GetAccount() ?? new User();
        StateHasChanged();
    }
}