@page "/"
@using Model.Entity

<PageTitle>Home</PageTitle>

  <div class="container">
        <div class="bg-white rounded d-flex align-items-center justify-content-between" id="header"> <button class="btn btn-hide text-uppercase" type="button" data-toggle="collapse" data-target="#filterbar" aria-expanded="false" aria-controls="filterbar" id="filter-btn" onclick="changeBtnTxt()"> <span class="fas fa-angle-left" id="filter-angle"></span> <span id="btn-txt">Hide filters</span> </button>
            <nav class="navbar navbar-expand-lg navbar-light pl-lg-0 pl-auto"> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynav" aria-controls="mynav" aria-expanded="false" aria-label="Toggle navigation" onclick="chnageIcon()" id="icon"> <span class="navbar-toggler-icon"></span> </button>
             
            </nav>
        </div>
        <div id="content" class="my-5">
            <div id="filterbar" class="collapse">
                <div class="box border-bottom">
                    <div class="box-label text-uppercase d-flex align-items-center ">Categories </div>
                    <div class="box border-bottom"></div>
                    <div id="inner-box" >
                        <div class="my-1"> <label class="tick">Windbreaker <input type="checkbox" id="myCheck"  > <span class="check"></span> </label> </div>
                        <div class="my-1"> <label class="tick">Jumpsuit <input type="checkbox"> <span class="check"></span> </label> </div>
                        <div class="my-1"> <label class="tick">Jacket <input type="checkbox"> <span class="check"></span> </label> </div>
                        <div class="my-1"> <label class="tick">Coat <input type="checkbox"> <span class="check"></span> </label> </div>
                        <div class="my-1"> <label class="tick">Raincoat <input type="checkbox"> <span class="check"></span> </label> </div>
                        <div class="my-1"> <label class="tick">Handbag <input type="checkbox"> <span class="check"></span> </label> </div>
                        <div class="my-1"> <label class="tick">Warm vest <input type="checkbox"> <span class="check"></span> </label> </div>
                        <div class="my-1"> <label class="tick">Wallets <input type="checkbox"> <span class="check"></span> </label> </div>
                    </div>
                      
                </div>
                <div class="box border-bottom">
                    <div class="form-group text-center">
                        <div class="btn-group" data-toggle="buttons"> <label class="btn btn-success form-check-label"> <input class="form-check-input" type="radio" onclick="uncheck()"> Reset </label> <label class="btn btn-success form-check-label active"> <input class="form-check-input" type="radio" checked> Apply </label> </div>
                    </div>
                </div>
               
        </div>
    </div>
</div>

@code{
    [CascadingParameter] public User Account { get; set; }
}