@page "/panel"

<PageTitle>Panel</PageTitle>

<div style="padding-left:30px; width:15%">
    <MudLink Href="./panel/categories"  Typo="Typo.h3" Underline="Underline.None" Style="color: #55595c;">Categories</MudLink>
    <MudDivider />
    <MudLink Href="./panel/users"  Typo="Typo.h3" Underline="Underline.None" Style="color: #55595c;">Users</MudLink>
    <MudDivider />
    <MudLink Href="./panel/auctions"  Typo="Typo.h3" Underline="Underline.None" Style="color: #55595c;">Auctions</MudLink>
    <MudDivider />
</div>


@code {
}
