@inherits LayoutComponentBase

@using Model.Entity
@using Services
@inject AuthenticationStateProvider AuthProvider

<PageTitle>Auctions</PageTitle>

<CascadingValue Value="Account" IsFixed=true>
    <NavMenu />

    <main>
        @Body
    </main>

    <FooterMenu />
</CascadingValue>

@code {
    IAuthService Auth { get => ((IAuthService)AuthProvider); }
    User Account { get => Auth.GetAccount() ?? new User(); }
}